/*
====================
  General
====================
*/

body {
  margin: 0;
	overflow: hidden;
	overflow-y: hidden;
}

.overlay::after {
  position: absolute;
	z-index: -1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/86186/crt.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  content: "";
}

.overlay::before {
  position: absolute;
	z-index: -1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  content: " ";
  background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
  background-size: 100% 2px, 3px 100%;
}

/*
====================
  General
====================
*/

body {
	background-color: rgba(0,0,0,0.8);
}

body .logo-tv {
	position: fixed;
	right: 5vw;
	top: 5vh;
	width: 10vw;
	z-index: 10;
}


/*
====================
  Questionpage
====================
*/

header, main {
	z-index: 1;
}

header {
	width: 70vw;
	margin-left: 15vw;
}

header h1 {
	margin-top: 45vh;
	color: white;
	font-family: helvetica;
	font-size: 3.5em;
	text-align: right;
}

header form {
	text-align: right;
}

header form select {
	font-size: 2em;
	font-family: helvetica;
}

header form select option {
		padding: 20%;
}

header form button {
	background-color: black;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-family: helvetica;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
}

/*
====================
  Answerpage
====================
*/

.loader {
	z-index: 10000;
	padding: 0;
	margin: 0;
	width: 100vw;
	height: 100vh;
  background: url('../images/loadertv.gif') no-repeat 150% 100%;
	background-size: cover;
}

main {
	width: 80vw;
	margin-left: 10vw;
}

main .slick-list {
	margin-top: 16vh;
}

main .slick-slide {
  margin: 0 10px;
	opacity: 0.5;
}

main .slick-slide img {
	height: 60vh;
}

main .slick-current {
	opacity: 1;
}

main .slick-arrow {
	display: none !important;
}

.imagecaption {
  float: left;
}

figure {
  display: table;
  margin: 0px;
}

figure img {
  display: block;
}

figcaption {
	margin-top: 2%;
  display: table-caption;
  caption-side: bottom;
	font-family: 'Inconsolata';
	color: white;
}
