/*
====================
  General
====================
*/

body {
  margin: 0;
	overflow: hidden;
	overflow-y: hidden;
}

.overlay::after {
  position: absolute;
	z-index: -1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/86186/crt.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  content: "";
}

.overlay::before {
  position: absolute;
	z-index: -1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  content: " ";
  background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
  background-size: 100% 2px, 3px 100%;
}

/*
====================
  General
====================
*/

body {
	background-color: rgba(0,0,0,0.8);
}

body .logo-tv {
	position: fixed;
	right: 5vw;
	top: 5vh;
	width: 10vw;
	z-index: 10;
}


/*
====================
  Questionpage
====================
*/

header, main {
	z-index: 1;
}

header {
	width: 70vw;
	margin-left: 10vw;
}

header h1 {
	margin-top: 25vh;
	color: white;
	font-family: helvetica;
	font-size: 2.5em;
	text-align: left;
	width: 90%;
}

header p {
	margin: 0;
	padding: 0;
	color: red;
	font-family: helvetica;
	font-size: 1.5em;
	text-align: left;
	width: 50%;
	margin-bottom: 2%;
	margin-top: 10vh;
}

header span {
	color: rgba(255,255,255,0.8);
	color: red;
}

header .arrow-up {
	width: 2%;
	fill: white;
	transform: rotate(180deg);
	margin-left: 45%;
}

header .arrow-down {
	width: 2%;
	fill: white;
	margin-left: 45%;
}

body form:first-child {
	display: none;
}

header form {
	position: relative;
	text-align: left;
	display: flex;
	align-items: flex-end;
}

header form div.first {
	display: flex;
	flex-direction: column;
	width: 50%;
	height: 180px;
	overflow: scroll;
}


header form input {
	opacity: 0;
}

header form .first div {
	font-size: 20px;
	padding: 10px;
	background-color: grey;
	border-radius: 5px;
	margin-bottom: 15px;
}

header form .first div:first-child {
	background-color: red;
	/* background-color: rgb(254, 166, 19); */
}

header form .first div:first-child {
	margin-top: 6px;
}

::-webkit-scrollbar {
  display: none;
}

header form label {
	width: 100%;
	color: white;
	font-family: helvetica;
}

header form input:checked + label {
	font-weight: bold;
}

header form button {
	display: none;
}

/*
====================
  Answerpage
====================
*/

.loader {
	z-index: 10000;
	padding: 0;
	margin: 0;
	width: 100vw;
	height: 100vh;
  background: url('../images/loadertv.gif') no-repeat 150% 100%;
	background-size: cover;
}

main {
	width: 80vw;
	margin-left: 10vw;
}

main .imagecaption {
	display: none;
}

main .slick-list {
	margin-top: 16vh;
}

main .slick-slide {
  margin: 0 10px;
	opacity: 0.5;
  max-height: 75vh;
}

main .slick-slide img {
	height: 55vh;
  max-width: 60vw;
}

main .slick-current {
	opacity: 1;
}

main .slick-arrow {
	display: none !important;
}

.imagecaption {
  float: left;
}

.remote {
	position: absolute;
	width: 10vw;
	height: 10vw;
	top: 20vw;
	left: 46vw;
	z-index: 1000;
	/* transition: opacity 0.5s ease-in-out; */
}

.pause {
	background-image: url('../images/pause.png');
	background-repeat: no-repeat;
	background-size: 80%;
	animation: fade-out 1s forwards;
}

.play {
	opacity: 1;
	background-image: url('../images/play-button.png');
	background-repeat: no-repeat;
	background-size: 80%;
	animation: fade-out-play 1s forwards;
}

@keyframes fade-out {
  from {opacity: 1;}
  to {opacity: 0;}
}

@keyframes fade-out-play {
  from {opacity: 1;}
  to {opacity: 0;}
}

figure {
  display: table;
  margin: 0px;
}

figure img {
  display: block;
}

figcaption:first-of-type {
	text-align: right;
	font-size: 90%;
}

figcaption {
	background-color: white;
  display: table-caption;
  caption-side: bottom;
	font-family: calibri;
	color: black;
	font-size: 150%;
	padding: 1% 3% 3% 3%;
}
